[Desktop Entry]
Name=dwm
Comment=This session logs you into Ubuntu
Exec=/etc/X11/Xsession
TryExec=/etc/X11/Xsession
Type=Application
DesktopNames=dwm
